.contact{
    width: 100%;
    min-height: 97.5vh;
}
.con__bac{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.cloc__about{
    width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.con__sidebar{
    width: 100%;
    min-height: 300px;
    background: #A6070A ;
    color: #fff;
    display: flex;
    justify-content: center;
}
.csidebar__logo{
    width: 100%;

}
.csidebar__loc{
    width: 100%;

}
.con__about{
    width: 100%;
    min-height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    padding: 30px 0;
    align-content: flex-start;

}
.cabout__card{
    width: 260px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px #99999959;

}
.ccard__img{
    width: 100%;
}
.ccard__job{
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
}
.ccard__btn{
    width: 150px;
    height: 30px;   
    /* background-color: #a4a234; */
    background-color: #e30000;
    font-weight: 600;
    color: #fff;
    border-radius: 100px;
    border: none;
    outline: none;
    margin-top: 5px;
}
.ccard__num{
    margin-top: 10px;
}
.ccard__num span{
    font-size: 18px;
    color: #c71f54;
    font-weight: 100;
}
@media screen and (max-width: 800px) {
    .csidebar__logo{
        width: 90%;
    }
    .csidebar__loc{
        width: 90%;
    }


}
@media screen and (max-width: 550px) {
    .cabout__card{
        width: calc(100% - 150px);
    }
    .contact{
        display: block;
    }
    .con__sidebar{
        width: 100%;
    }
    .csidebar__logo{
        width: 100%;
    }
    .csidebar__loc{
        width: 100%;
    }
    .con__about{
        width: 100%;
    }
    .cloc__about{
        width: calc(100% - 150px);
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .con__bac{
        width: 100%;
        display: block;
        justify-content: none;
    }
}
@media screen and (max-width: 450px) {
    .cabout__card{
        width: calc(100% - 30px);
    }
    .con__bac{
        width: 100%;
    }
    .cloc__about{
        width: calc(100% - 30px);
    }
}