.about__logo{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
    color: var(--bg-logo2);
}
.about__child{
    width: 40%;
    margin-left: 40px;
}
.about__child3{
    width: 40%;
    transform: translateX(60px);
}
.about__child4{
    width: 40%;
}
.about__img{
    width: 100%;
    padding-left: 50px;
}
.about__box{
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.about__child2{
    padding-left: 30px;
    width: 40%;
}
.about__logo2{
    font-size: 30px;
    font-weight: 500;
    padding: 5px;
    color: var(--bg-logo1);
}
.about__p{
    font-size: 17px;
    font-weight: 100;
    width: 80%;
    color: var(--bg-logo2);
}





@media screen and (max-width:990px) {
    .about__child{
        width: 60%;
        transform: translateX(-40px);
    }
    .about__child2{
        width: 70%;
        margin-left: 100px;
        padding-top: 20px;
    }
    .about__child3{
        width: 70%;
        margin-left: 40px;
    }
    .about__child4{
        padding-top: 20px;
        width: 60%;
        transform: translateX(-20px);
    }
}




@media screen and (max-width:600px) {
    .about__logo{
        font-size: 25px;
        padding: 10;
    }
    .about__child{
        margin-top: -20px;
        width: 70%;
    }
    .about__logo2{
        font-size: 25px;
        transform: translateX(-40px);
    }
    .about__p{
        font-size: 15px;
        width: 90%;
        transform: translateX(-35px);
    }
    .about__child4{
        width: 70%;
    }
}