.navbar{
    width: 35%;
    border: 2px solid red;
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    background: rgba(247, 247, 247, 0.7);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 615px;
    z-index: 10;
}
.navbar p{
    padding: 20px 20px;
    color: rgb(0, 0, 107);
    font-size: 18px;
}
.navbar a{
    text-decoration: none;
}