.footer{
    width: 100%;
    background:#303030 url(https://www.thnet.it/new/images/footer-graph2.png)no-repeat right bottom;
}
.foter__con{
    margin: auto;
}
.for__con__card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    justify-content: center;
}
.for__con__cards{
    width: 250px;
    margin: 10px 30px;
}
.for__con__cr__ul__title{
    font-size: 30px;
    color: rgb(179, 177, 177);
}
.for__con__cr__ul__li{
    padding: 10px 0;
    font-size: 18px;
    list-style: none;
    color:rgb(105, 105, 105);
}
.for__con__cr__ul__li__img{
    width: 100%;
    background: #303030;
}
.for__con__cr__p{
    color:rgb(105, 105, 105);
    font-size: 18px;
    padding: 10px 0;
}
.foter__bottom{
    width: 100%;
    background: #ff0000e1;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}
.img__for__ul{
    width: 100%;
    padding-top: 50px;
}
.for__bot__con__tit{
    color: #fff;
}
.iconca{
    font-size: 20px;
    transform: translateY(4px)translateX(-4px);
}
.iko__icons{
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
}
.ikons{
    transform: translateX(800px);
}


@media screen and (max-width:1740px) {
    .for__bot__con__tit{
        display:none;
    }
    .ikons{
        transform: translateX(670px);
    }
} 
@media screen and (max-width:1540px) {
    .ikons{
        transform: translateX(470px);
    }
} 
@media screen and (max-width:1040px) {
    .ikons{
        transform: translateX(270px);
    }
} 
@media screen and (max-width:740px) {
    .ikons{
        transform: translateX(100px);
    }
    .for__con__card{
        margin: auto;
    }
} 
@media screen and (max-width:615px) {
    .for__con__cards{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:440px) {
    .ikons{
        transform: translateX(30px);
    }
    .for__con__cards{
        width: 100%;
        text-align: center;
    }
}