*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;  
}
:root{
  --bg-py: #D70000;
  --bg-logo1: #CA5204;
  --bg-logo2: #F5A905;
  --bg-gradient: linear-gradient(45deg, var(--bg-logo1), var(--bg-logo2));
}
.container{
  max-width: 1250px;
  margin: auto;
}

