.admin{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
}
.admin__sidebar{
    background: var(--bg-py);
    padding: 30px;
}
.admin__content{
    padding: 30px;
    height: 100%;
    overflow: auto;
}
.admin li{
    list-style: none;
}
.nav__link{
    text-decoration: none;
    padding: 10px;
    display:block;
    border-bottom: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
}
.nav__active{
    background: #fff;
    color:var(--bg-py);
}
.admin__tit{
    padding:20px 7px;
    color: #fff;
    font-size: 25px;
}